$icomoon-font-family: "nhs" !default;
$icomoon-font-path: "icons" !default;

$icon-arrow-down: "\e90f";
$icon-home: "\e90e";
$icon-document-download: "\e900";
$icon-document-issue: "\e901";
$icon-documents: "\e902";
$icon-bar-chart: "\e903";
$icon-bold-full-bar-chart: "\e904";
$icon-dial: "\e905";
$icon-document-success: "\e906";
$icon-download-cloud: "\e907";
$icon-menu: "\e908";
$icon-person: "\e909";
$icon-tick-circle: "\e90a";
$icon-upload-cloud: "\e90b";
$icon-warning: "\e90c";
$icon-csv-file: "\e90d";

