/*
 * NHS Theme Definitions
 */

// Colours
$nhs-main-blue: #005eb8;

// Warning level scale
$warning-blue: #ccdff1;
$warning-green: #cce5d8;
$warning-yellow: #fff59d;
$warning-orange: #ffdc8e;
$warning-red: #f7d4d1;

// Warning level borders scale
$warning-border-blue: #004281;
$warning-border-green: #004c23;
$warning-border-yellow: #4d4712;
$warning-border-orange: #4d3708;
$warning-border-red: #6b140e;